.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  margin-top: 5px;
}

figure{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0;
}

img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.draggable-wrapper{
  display: flex;
}

.draggable-column{
  margin-right: 10px;
  background: #F0F0F0;
  overflow: scroll;
  max-width: 300px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.draggable-item{
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  user-select: none;
  font-weight: 600;
  color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.draggable-area{
  width: 100%;
  border-radius: 4px;
}

.draggable-item-batch{
  display: flex;
  justify-content: space-between;
}

.draggable-item-batch span{
  padding: 4px 6px;
  border-radius: 8px;
  font-size: 10px;
  margin-top: 8px;
  text-transform: capitalize;
  margin-right: 5px;
}

.frontend, .backend{
  background: rgb(250, 235, 215);
}

.sprint1{
  background: #74c273;
  color: #FFFFFF;
}